- require 'json'
- version = JSON.parse(Curl.get("https://rubygems.org/api/v1/versions/netzke/latest.json").body_str)["version"]

.nav.navbar.navbar-default.custom
  .container
    %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{href: "/"}
      %img.logo-icon{src: "/images/logo-icon.png"}
    %ul.nav.navbar-nav.navbar-right
      %li
        = link_to 'http://twitter.com/netzke' do
          %i.fa.fa-twitter
      %li
        = link_to 'http://github.com/netzke/netzke-core' do
          %i.fa.fa-github
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li= link_to 'Demo', 'http://demo.netzke.org'
        %li= link_to 'Documentation', '/documentation.html'
        %li= link_to 'Blog', 'http://blog.netzke.org'
        %li= link_to 'Talks', '/talks.html'
        %li= link_to 'Community', '/community.html'
        %li.version-link= link_to "v#{version}", 'https://rubygems.org/gems/netzke'
