.nav.navbar.navbar-default.custom
  .container
    %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{href: "/"}
      %img.logo-icon{src: "/images/logo-icon.png"}
    %ul.nav.navbar-nav.navbar-right
      %li
        = link_to 'http://twitter.com/netzke' do
          %i.fa.fa-twitter
      %li
        = link_to 'http://gratipay.com/mxgrn' do
          %i.fa.fa-gratipay
      %li
        = link_to 'http://github.org/netzke/netzke-core' do
          %i.fa.fa-github
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li= link_to 'demo', '/demo.html'
        %li= link_to 'blog', 'http://blog.netzke.org'
        %li= link_to 'documentation', '/docs-n-code.html'
        %li= link_to 'talks', '/talks.html'
        %li= link_to 'community', '/community.html'
