.col-md-4
  .section-border.hidden-md.hidden-lg
  .section-content
    = link_to(image_tag('pennymac.png', width: '200'), 'http://www.pennymacusa.com/')
    %p Sponsor of development
  .section-content
    %h4 Need help?
    %p I'll be happy to help you with your Netzke application. Get in touch on #{link_to 'Twitter', 'https://twitter.com/mxgrn'} or #{mail_to 'gorinme@gmail.com', 'email'} for rates and availability.
  .section-content
    %h4 What developers say about Netzke
    .quote
      %em "Netzke makes it extremely easy to add data grids and other Ext JS components to your Rails application."
      .text-muted
        \- Gregg Pollack, #{link_to 'Ruby5', 'https://ruby5.codeschool.com/episodes/56-episode-54-february-26-2010/stories/446-netzke-data-grids-with-ext-js'}
    .quote
      %em "We are ... happily starting another customer project with Netzke & ExtJS4."
      .text-muted
        \- Richard P., #{link_to 'nuxos.fr', 'http://www.nuxos.fr/'}
    .quote
      %em "... we are now very productive with Netzke and already have written about 150 custom components with it"
      .text-muted
        \- #{link_to 'Paul Schyska', 'http://pschyska.blogspot.com/'}, pme Familienservice GmbH
    .quote
      %em "This is one of the best bits of computer science I have ever seen. In twenty years. Its like Ruby and Javascript are doing circus tricks."
      .text-muted
        \- Guy Roberts, developer
