- @title = "Docs & Code"
.container
  .row
    .center-block.col-md-10
      %h4 Documentation
      Due to that a typical Netzke component exposes both server- and client-side API, which are written in Ruby and Javascript respectively, the documentation is split accordingly:

      %h5 Rubydocs

      %p
        #{link_to 'Netzke Core', 'http://www.rubydoc.info/github/netzke/netzke-core'} is the barebones of the framework, the base for building components
      %p
        #{link_to 'Netzke Basepack', 'http://www.rubydoc.info/github/netzke/netzke-basepack'} provides a few essential components that can be used as building blocks for your apps

      %h5 Client-side docs
      #{link_to 'These docs', 'http://api.netzke.org/client/'} (combining Core and Basepack) should be consulted for client-side methods in Netzke components.

      %h4 Tutorials
      %p #{link_to 'Getting started with Netzke', 'https://www.airpair.com/javascript/posts/getting-started-with-netzke'} on airpair.
      %p #{link_to 'Netzke Wiki', 'https://github.com/netzke/netzke/wiki'} is the new source of up-to-date tutorials.
      %p #{link_to 'Write Less Code Blog', 'http://writelesscode.com/'} has many (outdated) tutorials.
