- @title = "Talks"
.container
  .row
    .center-block.col-md-10
      %h4 2013
      %ul
        %li #{link_to 'Rapid development of enterprise web apps with Netzke', 'http://stream.rubydaily.org/post/53936363442/rapid-development-of-enterprise-web-apps-with'} - by #{link_to 'Max Gorin', 'http://twitter.com/mxgrn'} at RubyKaigi, Tokyo, Japan

      %h4 2012
      %ul
        %li #{link_to 'Modular webapps with Ruby on Rails, Sencha Ext JS, and Netzke', 'https://vimeo.com/groups/rubytw/videos/57570856'} - by #{link_to 'Max Gorin', 'http://twitter.com/mxgrn' } at RubyConf Taiwan, Taipei
        %li #{link_to 'Introduction to Netzke', 'http://writelesscode.com/blog/2012/07/16/introduction-to-netzke-video-from-ruby-open-air/'} - by #{link_to 'Max Gorin', 'http://twitter.com/mxgrn'} at Ruby Open Air, Minsk, Belarus

      %h4 2011
      %ul
        %li #{link_to 'Rapid RIA development with Netzke', 'http://www.slideshare.net/netzke/rapid-ria-development-with-netzke-9843964'}, by #{link_to 'Max Gorin', 'http://twitter.com/mxgrn'} at #{link_to 'RubyShift', 'http://rubyshift.org/'} Dnipropetrovsk, Ukraine
        %li #{link_to 'Rails + Sencha = Netzke', 'http://www.slideshare.net/beffa/netzke'} by @beffa at #{link_to 'Rails Switzerland', 'http://rubyonrails.ch/'}

      %h4 2010
      %ul
        %li #{link_to 'Rails, Ext JS, and Netzke', 'http://www.slideshare.net/netzke/rails-extjs-and-netzke'} - by #{link_to 'Max Gorin', 'http://twitter.com/mxgrn'} at #{link_to 'RubyAndRails', 'http://rubyandrails.eu/'} Amsterdam, the Netherlands
